[submodule "qtserialport"]
	path = qtserialport
	url = git://code.qt.io/qt/qtserialport.git
[submodule "OpenSceneGraph"]
	path = OpenSceneGraph
	url = https://github.com/openscenegraph/OpenSceneGraph.git
[submodule "qwt"]
	path = qwt
	url = https://github.com/qwtplot/qwt.git
